# NESimple input mapping
# Values are SDL scancode integers and SDL gamepad button enum integers.
# -1 means unbound.

keyboard.a=4
gamepad.a=0
keyboard.b=5
gamepad.b=2
keyboard.select=7
gamepad.select=4
keyboard.start=9
gamepad.start=6
keyboard.up=82
gamepad.up=11
keyboard.down=81
gamepad.down=12
keyboard.left=80
gamepad.left=13
keyboard.right=79
gamepad.right=14
